<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Union Nationale des Combattants (UNC) 23</title>
    <meta description="Nous accueillons toute personne contribuant ou ayant contribué à la défense de la France. Anciens combattants, soldats ou même civil sont les bienvenues">
    <link rel="stylesheet" href="./templates/CSS/style.css">
    <link rel="stylesheet" href="./templates/CSS/cadrePhoto3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <header id="upPage" class="index-header">
            <div class="logo-barnav">
                <a href="./index.php" title="revenir à la page d'accueil">
                    <img src="./assets/5f228142590000616b2d9551.png" alt="logo UNC">
                </a>
            </div>
            <p class="courtName">UNC 23</p>
            <div>
                <div>
                    <p class="name">Union nationale des combattants - Association départementale de la Creuse</p>
                </div>
                <nav>
                    <label for="toggle">☰</label>
                    <input type="checkbox" id="toggle">
                    <ul class="nav-list main_pages">
                        <li><a href="./index.php">Accueil</a></li>
                        <li><a href="./inter-pres.php">Présentation</a></li>
                        <li><a href="./inter-events.php">Activités/Actualités</a></li>
                        <li><a href="./inter-adhesion.php">Qui peut adhérer ?</a></li>
                        <div class="delpictures">
                            <li><a href="./photos.php">Album photos</a></li>
                        </div>
                        <li>
                            <a href="javascript:void(
                            window.open(
                            'https://form.jotform.com/223182580692055',
                            'blank',
                            'scrollbars=yes,
                            toolbar=no,
                            width=700,
                            height=500'
                            )
                            )">
                            <!--<a href="javascript:void(window.open(
                            './contact.php', 'blank',
                            'scrollbars=yes, width=1000, height=500'))" ">-->Contactez-nous</a></li>
                    </ul>
                </nav>
            </div>
        </header>