/* Couleurs : */


/* Bleu : rgb(0, 85, 164) */


/* Blanc : rgb(255, 255, 255) */


/* Rouge : rgb(239, 65, 53) */


/*.flag {
background: linear-gradient(60deg, rgb(0, 85, 165), rgb(255, 255, 255), rgb(239, 65, 53));
}*/


/* Général */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Page index */

.name,
.courtName {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(239, 65, 53);
    text-shadow: 0.5em 0.5em 0.5em rgb(239, 65, 53);
    text-align: center;
}

.index-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    margin: 3vh 3vw;
    margin-top: 2vh;
}

.logo,
.logo-barnav {
    width: 10vw;
}

.logo img,
.logo-barnav img {
    max-width: 90px;
    border-radius: 100%;
}

.logo-barnav img:hover {
    opacity: 0.7;
}

label,
#toggle {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    font-weight: 600;
}

.nav-list li {
    text-transform: uppercase;
}

.nav-list li:hover {
    opacity: 0.5;
}

.nav-list a {
    color: black;
}

.index-title {
    font-size: 1em;
    font-weight: 500;
    text-shadow: 0.5em 0.5em 0.5em black;
}

.article {
    height: 25vh;
}

.presentation-menu,
.adhesion-menu,
.photos-menu {
    z-index: 0;
}

.presentation-menu,
.photos-menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 85, 164);
    color: rgb(255, 255, 255)
}

.buttom {
    margin: 3vh 3vw;
    margin-left: 4vw;
}

.presentation-article {
    display: flex;
    flex-direction: column;
    width: 45vw;
    font-weight: 600;
}

.presentation-article button,
.photos-article button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 85, 164);
}

.presentation-article button:hover,
.photos-article button:hover {
    background-color: rgb(239, 65, 53);
    color: rgb(255, 255, 255);
}

.buttom {
    text-align: center;
    padding: 1vw;
    border-radius: 30px;
    position: relative;
    top: -1vw;
    width: 30vw;
}

.buttom:hover {
    font-weight: 600;
    opacity: 0.8;
}

@keyframes start-article-left {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.presentation-article,
.photos-article {
    animation: start-article-left 2s ease-out;
    -moz-animation: start-article-left 2s ease-out;
}

@keyframes start-article-right {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.adhesion-article {
    animation: start-article-right 2s ease-out;
    -moz-animation: start-article-right 2s ease-out;
}

.tablespace {
    position: relative;
    top: -1vh;
    left: 5vw;
    background: linear-gradient(60deg, rgb(0, 85, 165), rgb(255, 255, 255), rgb(239, 65, 53));
    height: 69.5vh;
    width: 27vw;
    padding: 1vh 1vw;
    padding-bottom: 10vh;
    border-radius: 10px;
    z-index: 1;
}

.tablespace img {
    position: relative;
    border-radius: 30px;
}

.index-photo1 img,
.index-photo2 img {
    height: 40vh;
    width: 30vw;
    object-fit: cover;
}

.index-photo1 img {
    top: 4vh;
    left: -6vw;
    rotate: -2deg;
}

.index-photo2 img {
    top: -2vh;
    left: 4vw;
    rotate: 4deg;
}

@keyframes scole-pictures {
    0% {
        transform: scale(4);
    }
    100% {
        transform: scale(1);
    }
}

.index-photo1 img {
    animation: scole-pictures 0.5s ease-out;
    -moz-animation: scole-pictures 0.5s ease-out;
}

.index-photo2 img {
    animation: scole-pictures 1s ease-out;
    -moz-animation: scole-pictures 1s ease-out;
}

.warp {
    animation: scole-pictures 1.5s ease-out;
    -moz-animation: scole-pictures 1.5s ease-out;
}

.adhesion-menu,
.photos-menu,
.presentation-menu {
    height: 26vh;
}

.adhesion-menu p,
.photos-menu p,
.presentation-menu p {
    margin: 3vh 3vw;
    margin-left: 4vw;
}

.adhesion-menu button:hover {
    background-color: rgb(0, 85, 165);
    color: rgb(255, 255, 255)
}

.activites-menu {
    background-color: rgb(239, 65, 53);
    margin: 5vh 5vw;
    border-radius: 16px;
}

.activites-menu p {
    padding-top: 1vh;
    text-align: center;
    color: rgb(255, 255, 255);
}

.photos-menu {
    position: relative;
    background-color: rgb(0, 85, 165);
    bottom: 2.5vh;
}

.contain {
    position: absolute;
    z-index: 3;
    width: 10px;
    height: 10px;
    top: 53vh;
}

.warp {
    display: block;
    position: relative;
    font: 700 2em/1 poppins;
    top: -22vh;
    left: -9.4vw;
    z-index: 4;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__0 {
    transform-origin: 50% -0.438rem;
    transform: translate(1.868rem, 11.184rem) rotate(-1.292051rad);
}

.warp__1 {
    transform-origin: 50% -0.438rem;
    transform: translate(2.752rem, 9.117rem) rotate(-1.035547rad);
}

.warp__2 {
    transform-origin: 50% -0.438rem;
    transform: translate(4.316rem, 7.665rem) rotate(-0.812159rad);
}

.warp__3 {
    transform-origin: 50% -0.438rem;
    transform: translate(5.26rem, 6.651rem) rotate(-0.624123rad);
}

.warp__4 {
    transform-origin: 50% -0.438rem;
    transform: translate(6.806rem, 5.738rem) rotate(-0.41014rad);
}

.warp__5 {
    transform-origin: 50% -0.438rem;
    transform: translate(8.599rem, 5.175rem) rotate(-0.21124rad);
}

.warp__6 {
    transform-origin: 50% -0.438rem;
    transform: translate(10.405rem, 4.959rem) rotate(-0.016804rad);
}

.warp__7 {
    transform-origin: 50% -0.438rem;
    transform: translate(12.431rem, 5.246rem) rotate(0.241687rad);
}

.warp__8 {
    transform-origin: 50% -0.438rem;
    transform: translate(15.256rem, 6.451rem) rotate(0.569786rad);
}

.warp__9 {
    transform-origin: 50% -0.438rem;
    transform: translate(17.715rem, 8.095rem) rotate(0.860504rad);
}

.warp__10 {
    transform-origin: 50% -0.438rem;
    transform: translate(18.826rem, 9.681rem) rotate(1.0848rad);
}

.warp__11 {
    transform-origin: 50% -0.438rem;
    transform: translate(19.492rem, 11.526rem) rotate(1.301085rad);
}

.warp__12 {
    transform-origin: 50% -0.438rem;
    transform: translate(19.75rem, 13.601rem) rotate(1.499032rad);
}

.warp__13 {
    transform-origin: 50% -0.438rem;
    transform: translate(19.874rem, 15.709rem) rotate(-4.607593rad);
}

.warp__14 {
    transform-origin: 50% -0.438rem;
    transform: translate(19.736rem, 17.409rem) rotate(-4.434134rad);
}

.warp__15 {
    transform-origin: 50% -0.438rem;
    transform: translate(19.011rem, 18.947rem) rotate(-4.242346rad);
}

.warp__16 {
    transform-origin: 50% -0.438rem;
    transform: translate(17.839rem, 20.516rem) rotate(-4.003829rad);
}

.warp__17 {
    transform-origin: 50% -0.438rem;
    transform: translate(16.116rem, 21.936rem) rotate(-3.734473rad);
}

.warp__18 {
    transform-origin: 50% -0.438rem;
    transform: translate(14.807rem, 22.814rem) rotate(-3.513835rad);
}

.warp__19 {
    transform-origin: 50% -0.438rem;
    transform: translate(12.995rem, 23.284rem) rotate(-3.334652rad);
}

.warp__20 {
    transform-origin: 50% -0.438rem;
    transform: translate(10.815rem, 23.47rem) rotate(-3.13415rad);
}

.warp__21 {
    transform-origin: 50% -0.438rem;
    transform: translate(8.94rem, 23.255rem) rotate(-2.938209rad);
}

.warp__22 {
    transform-origin: 50% -0.438rem;
    transform: translate(6.754rem, 22.623rem) rotate(-2.730199rad);
}

.warp__23 {
    transform-origin: 50% -0.438rem;
    transform: translate(4.705rem, 21.448rem) rotate(-2.48016rad);
}

.warp__24 {
    transform-origin: 50% -0.438rem;
    transform: translate(3.238rem, 19.826rem) rotate(-2.209965rad);
}

.warp__25 {
    transform-origin: 50% -0.438rem;
    transform: translate(2.37rem, 18.076rem) rotate(-1.964763rad);
}

.warp__26 {
    transform-origin: 50% -0.438rem;
    transform: translate(1.66rem, 16.123rem) rotate(-1.734545rad);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

@keyframes changeColor {
    from,
    to {
        color: rgb(255, 214, 214);
    }
    50% {
        color: rgb(239, 65, 53);
    }
}

.rotate {
    animation: rotation 30s infinite linear, changeColor 12s infinite;
    -moz-animation: rotation 30s infinite linear, changeColor 12s infinite;
}

.footer {
    position: relative;
    height: 5vh;
    text-align: center;
    bottom: 1vh
}

.footer a {
    color: black;
}

.footer a:hover {
    opacity: 0.5;
}

@media screen and (max-width:720px) {
    .courtName {
        font-size: 3em;
        text-align: center;
        width: 100%;
    }
    .name {
        display: none;
    }
    .footer {
        top: 60vh;
    }
    .index-photo1,
    .index-photo2 {
        height: auto;
        width: 90vw;
    }
    .tablespace {
        display: none;
    }
    .background-phone {
        width: 90vw;
        border: 3vw;
        z-index: -2;
    }
    .background-phone img {
        position: fixed;
        top: 25vh;
        left: 10vw;
        width: 80vw;
        border-radius: 100%;
    }
}

@media screen and (min-width:721px) {
    .courtName,
    .background-phone {
        display: none;
    }
}

@media screen and (max-width:959px) {
    .presentation-article,
    .adhesion-menu,
    .photos-menu {
        display: none;
    }
    .presentation-menu {
        background: transparent;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .tablespace {
        top: 0vh;
        left: 34vw;
    }
    nav {
        height: 60px;
    }
    nav .main_pages {
        display: none;
        flex-direction: column;
        height: 250px;
        background-color: #d2cfe2;
    }
    nav .main_pages li a {
        width: 50%;
        text-transform: initial;
        padding: 1em;
    }
    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
    }
    #toggle:checked+.main_pages {
        display: flex;
        position: relative;
        z-index: 500;
    }
    .footer-index {
        top: 55vh;
        text-align: center;
    }
}

@media screen and (max-width:1120px) {
    .logo,
    .logo-barnav {
        display: none;
    }
}

@media screen and (max-width:1247px),
(max-height:719px) {
    .warp {
        display: none;
    }
}

@media screen and (max-width: 1281px) {
    .warp {
        top: -26vh;
        left: -13.5vw;
    }
}

@media screen and (1281px <=width <=1437px) {
    .warp {
        top: -20vh;
        left: -12vw;
    }
}

@media screen and (min-width:1458px) {
    .index-title {
        font-size: 1.5em;
    }
}

@media screen and (1437px <=width <=1600px) {
    .warp {
        top: -17vh;
        left: -11vw;
    }
}

@media screen and (min-width:1718px) {
    .name {
        font-size: 2em;
    }
}


/* Page adhesion */

.grid {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 81vw;
    background-color: rgb(0, 85, 165);
    color: rgb(255, 255, 255);
    gap: 1vh 1vw;
    padding: 2vh 2w;
    border-radius: 16px;
    margin-bottom: 2vw;
}

.grid b {
    text-shadow: 0.5em 0.5em 0.5em black;
}

.grid ul li {
    list-style-type: disc;
}

.link {
    font-weight: 700;
    color: rgb(255, 255, 255)
}

.link:hover {
    opacity: 0.5;
}


/* Pages presentation, activites, adhesion, mentions, necro */

.start-page {
    animation: fade 3s ease;
    -moz-animation: fade 3s ease;
}

.arrowup {
    position: relative;
    left: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black
}

.arrowup:hover {
    opacity: 0.5;
}

.grid-presentation {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 81vw;
    background-color: rgb(0, 85, 165);
    color: rgb(255, 255, 255);
    padding: 2vh 2vw;
    border-radius: 16px;
    text-align: justify;
    margin: 1em auto;
}

.underbar {
    position: relative;
    top: 2vh;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.underbar a {
    color: rgb(255, 255, 255)
}

.underbar a:hover {
    opacity: 0.5;
}

.footer-pres {
    margin-top: 4vh;
}

.grid-presentation h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.grid-presentation h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 1vh;
}

.grid-presentation h1,
h2,
h3 {
    text-shadow: 0.5em 0.5em 0.5em black;
}

.grid-presentation h3,
p {
    margin-bottom: 2vh;
}

.grid-presentation img {
    width: 20vw;
    border-radius: 16px;
    margin-right: 2vw;
    margin-bottom: 1vh;
    margin-left: 2vw;
}

.circle img {
    border-radius: 100%;
}

@media screen and (max-width: 720px) {
    .grid-presentation {
        margin: 1em 2em;
    }
    .grid-presentation img {
        min-width: 150px;
    }
    .grid-presentation h1 {
        font-size: 1.2em;
    }
    .grid-presentation h2 {
        font-size: 1em;
    }
    .footer-page {
        position: relative;
        top: 1em;
    }
}


/* Page contact */

.grid-presentation input,
.grid-presentation textarea {
    margin-bottom: 1em;
    background-color: rgb(224, 205, 205);
}

.button {
    margin-top: 2em;
    text-align: center;
}

.button-deco {
    padding: 1em 2em;
    background: rgb(255, 255, 255);
}

.grid-contact {
    display: flex;
    flex-direction: column;
}

.grid-contact input {
    width: 100%;
}


/* Page intermédaire*/

.align-bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20vh;
    z-index: 3;
}

.bloc:hover {
    filter: sepia(100%);
    transition: filter 0.7s ease-out;
}

.bloc1,
.bloc2,
.bloc3 {
    text-align: center;
}

@keyframes bounce {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }
    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }
    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }
    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }
    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }
    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

.bloc1 {
    animation: bounce 1s ease;
    -moz-animation: bounce 1s ease;
}

.bloc2 {
    animation: bounce 1.5s ease;
    -moz-animation: bounce 1.5s ease;
}

.bloc3 {
    animation: bounce 2s ease;
    animation: bounce 2s ease;
}

.bloc1 img,
.bloc2 img,
.bloc3 img {
    border-radius: 100%;
    width: 60%;
}

.bloc1b,
.bloc2b,
.bloc3b {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    top: 1em;
}

.align-bloc a {
    text-shadow: 0.5em 0.5em 0.5em black;
    color: black
}

.flagbar {
    position: absolute;
    transform: translateY(17vh) skewY(-4deg);
    height: 30vh;
    width: 90vw;
    background: linear-gradient(60deg, rgb(0, 85, 165), rgb(255, 255, 255), rgb(239, 65, 53));
    z-index: -2;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flagbar {
    animation: fade 3s ease;
}

.footer-int-pres {
    position: relative;
    top: 49vh;
}

@media screen and (max-width:720px) {
    .align-bloc {
        flex-direction: column;
    }
    .bloc {
        top: 5vh;
    }
    .bloc1 img,
    .bloc2 img,
    .bloc3 img {
        min-width: 55%;
    }
    .footer-int-pres {
        top: 20vh;
    }
}


/* Page activités */

.construction {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1vw;
}

.construction img {
    position: relative;
    top: 1.5vw;
    height: auto;
}


/* Page photos */


/* voir fichier cadrePhoto3 */

@media screen and (max-width:859px) {
    .delpictures {
        display: none;
    }
}