* {
    font-family: 'Poppins', sans-serif;
}


/* Page index */

.logo-id {
    margin-top: 20vh;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 100%;
}

.connection {
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    background: rgb(0, 85, 164);
    margin-top: 2vh;
    padding: 5vh 5vw;
    text-align: center;
    color: white;
    font-size: 1.25em;
    border-radius: 15px;
}

.button-deco {
    font-size: 0.75em;
    margin-top: 1em;
    padding: 0.5em;
}


/* Page panel */

.nav-list {
    position: fixed;
}

.nav-list ul li {
    color: white;
    padding: 2em;
    list-style: none;
    text-decoration: none;
    line-height: 1em;
    background-color: rgb(0, 85, 164);
    height: 100%;
    width: 10vw;
}

.nav-list ul li:hover {
    background-color: rgb(77, 120, 161);
}